{% for message in app.flashes('success') %}
    <div class="row flashMessage">
        <div class="col-lg-6 mb-4 offset-md-3">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    <div class="text-white-100 small">{{ message }}</div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="row flashMessage">
        <div class="col-lg-6 mb-4 offset-md-3">
            <div class="card bg-danger text-white shadow">
                <div class="card-body">
                    <div class="text-white-100 small">{{ message }}</div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
