{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.error {
		    color: #e74a3b;
		    font-size: 1rem;
		    position: relative;
		    line-height: 1;
		    padding-left: 0px;
            padding-top: 10px;
		    width: 100%;
		}
	</style>
{% endblock %}

{% block body %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Gestión de Usuarios</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos del Usuario</h6>
    </div>
    <div class="card-body">
        <form id="form" class="user" action="{{ path('edit', { 'id': id }) }}" method="POST">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                	{{ form_label(form.nombres) }}
                    {{ form_widget(form.nombres, { 'attr': {'class': 'form-control form-control-user'} }) }}
                    <div class="error">{{ form_errors(form.nombres) }}</div>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                	{{ form_label(form.apellidos) }}
                    {{ form_widget(form.apellidos, { 'attr': {'class': 'form-control form-control-user'} }) }}
                    <div class="error">{{ form_errors(form.apellidos) }}</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                	{{ form_label(form.cedula) }}
                    {{ form_widget(form.cedula, { 'attr': {'class': 'form-control form-control-user'} }) }}
                    <div class="error">{{ form_errors(form.cedula) }}</div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                	{{ form_label(form.correo) }}
                    {{ form_widget(form.correo, { 'attr': {'class': 'form-control form-control-user'} }) }}
                    <div class="error">{{ form_errors(form.correo) }}</div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                	{{ form_label(form.telefono) }}
                    {{ form_widget(form.telefono, { 'attr': {'class': 'form-control form-control-user'} }) }}
                    <div class="error">{{ form_errors(form.telefono) }}</div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
    	<button class="btn btn-primary" type="button" id="guardar">Guardar</button>
    	<a class="btn btn-secondary" href="{{ path('index') }}">Cancelar</a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/sb-admin-2/vendor/jquery-validation/jquery.validate.min.js"></script>
	<script src="/assets/sb-admin-2/vendor/jquery-validation/additional-methods.min.js"></script>
	<script src="/assets/sb-admin-2/js/jquery.inputmask.bundle.js"></script>
    <script src="/assets/js/form.js"></script>
{% endblock %}