{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Gestión de Usuarios</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary float-left">Listado de Usuarios</h6>
        <a href="{{ path('edit') }}" class="btn btn-primary btn-icon-split float-right">
		    <span class="icon text-white-50">
		        <i class="fas fa-plus"></i>
		    </span>
		    <span class="text">Agregar Usuario</span>
		</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cédula</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                	{% for usuario in usuarios %}
	                    <tr>
                            <td>{{ usuario.nombres }}</td>
                            <td>{{ usuario.apellidos }}</td>
	                        <td>{{ usuario.cedula }}</td>
                            <td>{{ usuario.correo }}</td>
	                        <td>{{ usuario.telefono }}</td>
	                        <td>
	                        	<a href="{{ path('edit', { 'id': usuario.id }) }}" class="btn btn-primary btn-circle" title="Editar">
                                    <i class="fas fa-user-edit"></i>
                                </a>
	                        </td>
	                    </tr>
	                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/datatables.js"></script>
{% endblock %}
